@model FishInABox.Models.FishWithTank

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FishWithTank</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Species)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Species)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock_On_Hand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock_On_Hand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tank_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tank_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
